<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/BOOTSTRAP/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin-style/home.css">
    
     <style>
          header{
        display:flex;
        justify-content:center;
     }
     header img{
         height:43px;
         margin-left: 7px;
         color: #c50d66;

     }
           .tagName{
            text-align:center;
            color: #c50d66;
            text-decoration: underline;
            
         }
         .tagName span{
             font-size: 25px;
             margin-right: 5px;

         }
       
         .card{
              box-shadow: 0px 0px 10px 0px #c50d66;
             align-items:center;
             height:550px;
             min-width: 50px;
             max-width:400px;
             margin-left:40px;
             /* padding:50px; */

         }
         .card img{
             min-width:50px;
             max-width:250px;
         }

         .card-title{
             color:#c50d66;
             font-weight:bold;
             border-bottom:1px dotted #c50d66;
         }

         .card-link{
             line-height:20px;
             color:#c50d66;
             background-color:#f3b5d3;
             font-size: 18px;
             padding:5px;
         }
         .card-link:hover{
            background-color: #c50d66;
            color:rgb(255, 255, 255);

         }
     </style>
</head>

<body>
     <header> <h1 class="tagName"> <span>apna</span>SHOES</h1>
        <img src="/images/admin-img/icons8-boots-50.png" ></header>
   
    <div class="container-fluid">
        <div class="sidebar"></div>
        <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="">
                        <i class="fa fa-home"></i>
                        <strong>Home</strong>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Category</strong>
                    </a>
                    <ul>
                        <li><a href="#"></i>Add Category</a></li>
                        <li>
                            <a href="#"></i>Remove Category</a>

                        </li>
                        <li><a href="#">View Category</a></li>


                    </ul>
                </li>

                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Manage Products</strong>
                    </a>
                    <ul>
                        <li><a href="#"></i>Add Products</a></li>
                        <li>
                            <a href="#"></i>Remove Products</a>

                        </li>
                        <li><a href="#">Product List</a></li>
                        <li><a href="#">Edit Product</a></li>

                    </ul>
                </li>

                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>User Details</strong>
                    </a>
                    <ul>
                        <li><a href="#"></i>Users</a></li>
                        <li>
                            <a href="#"></i>User Queries</a>

                        </li>
                    </ul>
                </li>

                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Manage Orders</strong>
                    </a>
                    <ul>
                        <li><a href="#"></i>Ordered Products</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="card" style="width:280px" >
            <img src="/images/admin-img/business-growth-chart-3073.png" target="_blank" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales & Growth Report</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">grow 20% this Year</li>
              <li class="list-group-item">grow 30% this Month</li>
              <li class="list-group-item">grow 60% this Week</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Check Now</a>
            </div>
          </div>

          
          <div class="card" style="width:280px" >
            <img src="/images/admin-img/business-growth-chart-3073.png" target="_blank" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New Users Gain</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">grow 20% this Year</li>
                <li class="list-group-item">grow 30% this Month</li>
                <li class="list-group-item">grow 60% this Week</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Check Now</a>
            </div>
          </div>


          <div class="card" style="width:280px" >
            <img src="/images/admin-img/business-growth-chart-3073.png" target="_blank" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Net Profit And Revenue</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">grow 20% this Year</li>
                <li class="list-group-item">grow 30% this Month</li>
                <li class="list-group-item">grow 60% this Week</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Check Now</a>
            </div>
          </div>
    </div>
    

   
</body>

</html>