<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/user-style/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>User Login</h2>
  <form  action="/user/login" id="login-form" method="post" >
    <p>
    <input onkeyup="ValidateEmail()" type="email" id="email" name="email" placeholder="email" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input onkeyup="ValidateNumber()" type="password" id="password" name="password" placeholder="password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input  onclick="return ValidateData()" type="submit" id="login" value="Login">
    </p>
  </form>
 
</div><!--login-form-wrap-->
<!-- partial -->
  

<script>
   function ValidateEmail() {
            var status = true;
            var regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
            var email = document.getElementById("email").value;
            var emailerror = document.getElementById("emailerror");
            if (email == "") {
                status = false;
                emailerror.innerHTML = "please enter valid email";
                emailerror.style.color = "red";

            }
            else if (!regex.test(email)) {
                status = false;
                emailerror.innerHTML = "Invalid email";
                emailerror.style.color = "red"
            }
            else
                emailerror.innerHTML = "";
            return status;
        }
        function ValidatePassword() {
            var status = true;
            var regex = new RegExp('/^[a-zA-Z0-9!@#$%^&*]{6,16}$/');
            var minNumberofChars = 6;
            var maxNumberofChars = 16;
            var password = document.getElementById("password").value;
            var passworderror = document.getElementById("passworderror");
            if (password == "") {
                status = false;
                passworderror.innerHTML = "please enter password";
                passworderror.style.color = "red";

            }
            else if (Password.length < minNumberofChars || password.length > maxNumberofChars) {
                return false;
            }
            else
                passworderror.innerHTML = "";
            return status;
        }
        function ValidateData() {
            var emailstatus = ValidateEmail();
            var passwordstatus = ValidatePassword();
            if ( emailstatus && passwordstatus)
                return true;
            return false;

        }
</script>
</body>
</html>
