<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script href="/shoes_project/ApnaShoes/validation/userRegistrationValidation.js"></script>
</head>



<body>
    <div class="container m-5">
        <form action="/register-form" method="post">
            <div class="form-group">
                <label>Name</label>
                <input onkeyup="ValidateUserName()" id="username" type="text" placeholder="Name"
                    class="form-control">
                <small id=usernameerror></small>
            </div>
            
           <div class="form-group">
                <label>Email</label>
                <input onkeyup="ValidateEmail()" id="email" type="text" class="form-control" placeholder="Email">
                <small id="emailerror"></small>
            </div>
            <div class="form-group">
                <label>Number</label>
                <input onkeyup="ValidateNumber()" id="number" placeholder="number" class="form-control" type="text">
                <small id="numbererror"></small>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input onkeyup="ValidatePassword()" id="password" placeholder="password" class="form-control" type="text">
                <small id="passworderror"></small>
            </div>
            <div class="form-group">
                <button onclick="return ValidateData()" class="btn btn-primary">Register</button>
            </div>
        </form>
        
    </div>

</body>

</html>