<nav>
    <ul class="mcd-menu">
        <li>
            <a href="">
                <i class="fa fa-home"></i>
                <strong>Home</strong>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-comments-o"></i>
                <strong>Category</strong>
            </a>
            <ul>
                <li data-toggle="modal" data-target="#myModal"><a href="#" ></i>Add Category</a></li>
                <li>
                    <a href="#"></i>Remove Category</a>

                </li>
                <li><a href="#">View Category</a></li>


            </ul>
        </li>

        <li>
            <a href="">
                <i class="fa fa-comments-o"></i>
                <strong>Manage Products</strong>
            </a>
            <ul>
                <li><a href="/product/add-product"></i>Add Products</a></li>
                <li>
                    <a href="#"></i>Remove Products</a>

                </li>
                <li><a href="/product/product-list">Product List</a></li>
                <li><a href="#">Edit Product</a></li>

            </ul>
        </li>

        <li>
            <a href="">
                <i class="fa fa-comments-o"></i>
                <strong>User Details</strong>
            </a>
            <ul>
                <li><a href="#"></i>Users</a></li>
                <li>
                    <a href="#"></i>User Queries</a>

                </li>
            </ul>
        </li>

        <li>
            <a href="">
                <i class="fa fa-comments-o"></i>
                <strong>Manage Orders</strong>
            </a>
            <ul>
                <li><a href="#"></i>Ordered Products</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" >Add Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body modal-2">
          <form action="/category/add" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                  <label>Category Name</label>
                  <input type="text" name="categoryName" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>Category Image</label>
                  <input type="file" name="categoryImage"/>
              </div>
              <div class="form-group">
                  <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit">Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>